<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="loginForm" (ngSubmit) ="logLogin()">
      <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
        <ion-item>
            <ion-label>Mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!loginForm.valid" expand="block" fill="clear" shape="round">
            Se connecter
        </ion-button>
    </form>
    <ion-button (click)="signInButton()" type="submit" expand="block" fill="clear" shape="round">
        Créer un compte
    </ion-button>
</ion-content>
